PORT=5000
DB_PWD=db_pwd
NETWORK_WSS=wss://kovan.infura.io/ws/v3/64ac9a1230er45g2b6d39c137b480910
NETWORK_SRV=https://kovan.infura.io/v3/64ac9a1230er45g342b6d39c137b480910
MNEMONIC=one two three four five six seven eight nine ten eleven twelve
GAME_ADDRESS=0x94eb405E1Ff9erJ4336424cD8E3A1cB5a135

